<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Taller App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Formulario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ver todo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Buscar por id</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Buscar por fechas</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>